<h4 style="text-align: center;">Update Product</h4>
{{ httpData | json}}

<div class="container">
	<div class="row">    
		<div class="col-lg-6 col-md-8 mx-auto mt-lg-5">			
      <form [formGroup]="editProductFormGroup"  class="account_form">
        
						<div class="form-group">							
							<input type="text" placeholder="ProductName" formControlName="pname" class="form-control" />
						</div>
										
					 
						<div class="form-group">							
							<input type="text" placeholder="Brand Code" formControlName="bcode" class="form-control"/>
            </div>
					
				
				<div class="form-group">
					<input type="number" formControlName="price" placeholder="Price" class="form-control"/>
        </div>        
       
        <div class="form-group">
					<input type="number" formControlName="stts" placeholder="Status" class="form-control" />
        </div>
        
			</form>
      <div class="form-group">
				<button class="btn btn-primary" (click)="update()">Update Product</button>
      </div>			      
		</div>
	</div>
</div>

<router-outlet></router-outlet>