<table class="table table-hover jumbotron col-md-12 offset" style="text-align:center">
    <thead>
        <tr>
          <th colspan="2" style="color: black;">Product List</th>
          <td colspan="3" >
            <form [formGroup]="searchFormGroup">
            <div>
              <input formControlName="searchP" class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search Product">
            </div>
            </form>
          </td>
          <td colspan="2">
            <button class="btn btn-primary" (click)="search()">Search Product</button>
          </td>
          <td>
            <button class="btn btn-primary" [routerLink]="['/product-add']" >Add New Product</button>
          </td>
        </tr>
    </thead>
      <tr>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Brand Code</th>
            <th>Brand Name</th>
            <th>Price</th>                                   
            <th>Availability</th>
            <th>Edit</th>
            <th>Delete</th>
      </tr>
    

    <tr *ngFor="let res of httpData" class="thead-light">
        <td> {{res.ProductCode}}</td>
        <td> {{res.Name}}</td>
        <td> {{res.BrandId}}</td>
        <td> {{res.BrandName}}</td>
        <td> {{res.Price}}</td>                
        <td> {{res.Status}}</td>
        
        <td><button class="btn btn-success" [routerLink]="['/product-edit',res.ProductCode]">Edit</button></td>
        <td><button class="btn btn-danger"  (click)="delete(res.ProductCode)">Delete</button></td>
    </tr>
</table>

<router-outlet></router-outlet>